h1 {
  background-color: aqua;
  /* margin-bottom: 80px;
  margin-right: 80px; */
  /* margin: 0; */
  width: 50%;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  /* border: 1px solid green; */
  border-bottom: 2px dotted black;
}

p {
  background-color: blueviolet;
  /* padding-right: 60px;
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom: 60px; */

  /* padding: 60px 100px 60px 100px; */

  /* padding: 60px 100px; */
}

body {
  /* margin: 0; */
}
